<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Logger Bean -->
    <bean id="logger" class="com.spring.injection.services.ConsoleLogger"/>

    <!-- Database Service Bean -->
    <bean id="databaseService" class="com.spring.injection.services.MockDatabaseService"/>

    <!-- ApplicationManager with Constructor Injection -->
    <bean id="applicationManager" class="com.spring.injection.services.ApplicationManager">
        <constructor-arg ref="logger"/>
        <constructor-arg ref="databaseService"/>
    </bean>

    <!-- UserNotificationService with Setter Injection -->
    <bean id="notificationService" class="com.spring.injection.services.UserNotificationService">
        <property name="logger" ref="logger"/>
        <property name="databaseService" ref="databaseService"/>
        <property name="notificationEmail" value="admin@example.com"/>
    </bean>

</beans>
